<h1 class="mat-headline margin-auto max-width-1440-px padding-16-px">
	Achievements and Leadership
</h1>
<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
  Achievements
</h3>
<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="width-300-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar><mat-icon class="font-size-32-px" color="primary">emoji_events</mat-icon></div>
			<mat-card-title>ETA Track Champ</mat-card-title>
		</mat-card-header>
    <mat-card-content>
			<div>Awarded the Track Champ award for UI Track in the ETA All Hands Meet at Infosys.</div>
    </mat-card-content>
  </mat-card>
</div>
<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
  Leadership
</h3>
<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="width-300-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar><mat-icon class="font-size-32-px" color="primary">group</mat-icon></div>
			<mat-card-title>Project Mentor for Interns</mat-card-title>
		</mat-card-header>
    <mat-card-content>
			<div>Mentored two teams of 7 interns who worked on the admin and notification modules in project at Infosys.</div>
    </mat-card-content>    
	</mat-card>
</div>
