<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="margin-16-px">
		<mat-card-content>
			<div class="dp"></div>
			<h2 class="mat-title text-align-center">Anindyo Choudhury</h2>
			<div>Experienced Web Developer with a demonstrated history of working in software development and
				information technology industry. Skilled in Angular, Angular Material, React, TypeScript, JavaScript,
				HTML, CSS, Node.js, Express.js, and MongoDB. Strong engineering professional with a Bachelor of
				Engineering - BE focused in Computer Science from Birla Institute of Technology, Mesra.</div>
		</mat-card-content>
	</mat-card>
</div>

<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
	Links
</h3>

<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<a href="https://www.linkedin.com/in/aninchou2020/" class="text-decoration-none">
		<mat-card class="margin-16-px width-220-px">
			<mat-card-header>
				<div mat-card-avatar class="linked-in-logo"></div>
				<mat-card-title>LinkedIn</mat-card-title>
			</mat-card-header>
		</mat-card>
	</a>
	<a href="https://github.com/anin-chou-2020/" class="text-decoration-none">
		<mat-card class="margin-16-px width-220-px">
			<mat-card-header>
				<div mat-card-avatar class="git-hub-logo"></div>
				<mat-card-title>GitHub</mat-card-title>
			</mat-card-header>
		</mat-card>
	</a>
	<a href="https://leetcode.com/aninchou2020/" class="text-decoration-none">
		<mat-card class="margin-16-px width-220-px">
			<mat-card-header>
				<div mat-card-avatar class="leet-code-logo"></div>
				<mat-card-title>LeetCode</mat-card-title>
			</mat-card-header>
		</mat-card>
	</a>
	<a href="https://www.hackerrank.com/aninchou2020/" class="text-decoration-none">
		<mat-card class="margin-16-px width-220-px">
			<mat-card-header>
				<div mat-card-avatar class="hacker-rank-logo"></div>
				<mat-card-title>HackerRank</mat-card-title>
			</mat-card-header>
		</mat-card>
	</a>
</div>

<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
	Contact
</h3>

<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
		<mat-card class="margin-16-px width-300-px">
			<mat-card-header>
				<div mat-card-avatar><mat-icon class="font-size-32-px" color="primary">phone</mat-icon></div>
				<mat-card-title>+ 91 - 7632813819</mat-card-title>
				<mat-card-subtitle>Phone</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
    <mat-card class="margin-16-px width-300-px">
			<mat-card-header>
				<div mat-card-avatar><mat-icon class="font-size-32-px" color="primary">email</mat-icon></div>
				<mat-card-title>aninchou202@outlook.in</mat-card-title>
				<mat-card-subtitle>Email</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
    <mat-card class="margin-16-px width-300-px">
			<mat-card-header>
				<div mat-card-avatar><mat-icon class="font-size-32-px" color="primary">location_on</mat-icon></div>
				<mat-card-title>Bangalore, Karnataka</mat-card-title>
				<mat-card-subtitle>Location</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
</div>
