<h1 class="mat-headline margin-auto max-width-1440-px padding-16-px">
	Skills
</h1>
<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
  Programing Languages
</h3>
<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="js-logo"></div>
			<mat-card-title>JavaScript</mat-card-title>
			<mat-card-subtitle>Expert</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="ts-logo"></div>
			<mat-card-title>Typescript</mat-card-title>
			<mat-card-subtitle>Proficient</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
</div>
<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
  Web Development
</h3>
<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="html-logo"></div>
			<mat-card-title>HTML</mat-card-title>
			<mat-card-subtitle>Expert</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="css-logo"></div>
			<mat-card-title>CSS</mat-card-title>
			<mat-card-subtitle>Expert</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
</div>
<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
  Frameworks
</h3>
<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="angular-logo"></div>
			<mat-card-title>Angular</mat-card-title>
			<mat-card-subtitle>Expert</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="material-logo"></div>
			<mat-card-title>Angular Material</mat-card-title>
			<mat-card-subtitle>Expert</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="node-logo"></div>
			<mat-card-title>Node</mat-card-title>
			<mat-card-subtitle>Proficient</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="express-logo"></div>
			<mat-card-title>Express</mat-card-title>
			<mat-card-subtitle>Proficient</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="react-logo"></div>
			<mat-card-title>React</mat-card-title>
			<mat-card-subtitle>Proficient</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
</div>
<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
  Database
</h3>
<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="width-220-px margin-16-px">
		<mat-card-header>
      <div mat-card-avatar class="mongo-logo"></div>
			<mat-card-title>MongoDB</mat-card-title>
			<mat-card-subtitle>Proficient</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
</div>