/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body {
    margin: 0;
  }

  .font-size-8 {
    font-size: 8px;
  }

  .font-size-12 {
    font-size: 12px;
  }

  .font-size-16 {
    font-size: 16px;
  }

  .font-size-32-px {
    font-size: 32px;
  }

  .height-32-px {
    height: 32px !important;
  }

  .height-auto {
    height: auto !important;
  }

  .width-220-px {
    width: 220px;
  }

  .width-248-px {
    width: 248px;
  }

  .width-300-px {
    width: 300px;
  }

  .width-400-px {
    width: 400px;
  }

  .max-width-1440-px {
    max-width: 1440px;
  }

  .padding-16-px {
    padding: 16px;
  }

  .padding-left-16-px {
    padding-left: 16px;
  }

  .padding-4-px-0 {
    padding: 4px 0 !important;
  }

  .margin-auto {
    margin: auto !important;
  }

  .margin-0-8-px {
    margin: 0 8px !important;
  }

  .margin-4-px {
    margin: 4px !important;
  }

  .margin-16-px {
    margin: 16px;
  }

  .display-flex {
    display: flex;
  }

  .flex-wrap-wrap {
    flex-wrap: wrap;
  }

  .justify-content-space-around {
    justify-content: space-around;
  }

  .position-sticky {
    position: sticky;
  }

  .top-0 {
    top: 0;
  }

  .z-index-1 {
    z-index: 1;
  }

  .text-align-center {
    text-align: center;
  }

  .text-decoration-none {
    text-decoration: none !important;
  }
