<h1 class="mat-headline margin-auto max-width-1440-px padding-16-px">
	Experience
</h1>
<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
	Professional
</h3>
<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="margin-16-px width-400-px">
		<mat-card-header>
      <div mat-card-avatar class="oracle-logo"></div>
			<mat-card-title>Oracle</mat-card-title>
			<mat-card-subtitle>Application Engineer</mat-card-subtitle>
			<mat-card-subtitle>Oracle Applications Lab</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			
				<mat-list>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Worked in Front End Web Development using OJET and VBCS</div>
					</mat-list-item>
				</mat-list>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-button class="margin-0-8-px">
        <mat-icon aria-hidden="false" aria-label="Date range icon" color="primary">
          date_range
        </mat-icon>
        11/2019 - Ongoing
      </button>
			<button mat-button>
        <mat-icon aria-hidden="false" aria-label="Location icon" color="primary">
          location_on
        </mat-icon>
        Bangalore
      </button>
		</mat-card-actions>
	</mat-card>
	<mat-card class="margin-16-px width-400-px">
		<mat-card-header>
      <div mat-card-avatar class="infosys-logo"></div>
			<mat-card-title>Infosys Limited</mat-card-title>
			<mat-card-subtitle>System Engineer</mat-card-subtitle>
			<mat-card-subtitle>KM Group, ETA</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			
				<mat-list>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Worked in Front End Web Development using Angular.</div>
					</mat-list-item>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Worked in Middle Ware using Node and Express.</div>
					</mat-list-item>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Involved in creating a next-gen learning solution platform and the associated content creation tool.</div>
					</mat-list-item>
				</mat-list>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-button class="margin-0-8-px">
        <mat-icon aria-hidden="false" aria-label="Date range icon" color="primary">
          date_range
        </mat-icon>
        07/2018 - 10/2019
      </button>
			<button mat-button>
        <mat-icon aria-hidden="false" aria-label="Location icon" color="primary">
          location_on
        </mat-icon>
        Bangalore
      </button>
		</mat-card-actions>
	</mat-card>
</div>
<h3 class="mat-subheading-2 margin-auto max-width-1440-px padding-16-px">
	Internships
</h3>
<div class="display-flex flex-wrap-wrap margin-auto max-width-1440-px">
	<mat-card class="margin-16-px width-400-px">
		<mat-card-header>
      <div mat-card-avatar class="infosys-logo"></div>
			<mat-card-title>Infosys Limited</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			
				<mat-list>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Worked in Data Science using Python.</div>
					</mat-list-item>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Involved in a data science project to determine the requirement of a raw material using the data from sale of the finished products.</div>
					</mat-list-item>
				</mat-list>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-button class="margin-0-8-px">
        <mat-icon aria-hidden="false" aria-label="Date range icon" color="primary">
          date_range
        </mat-icon>
        01/2018 - 05/2018
      </button>
			<button mat-button>
        <mat-icon aria-hidden="false" aria-label="Location icon" color="primary">
          location_on
        </mat-icon>
        Mysore
      </button>
		</mat-card-actions>
	</mat-card>
  <mat-card class="margin-16-px width-400-px">
		<mat-card-header>
      <div mat-card-avatar class="schooglink-logo"></div>
			<mat-card-title>Schooglink Private Limited</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			
				<mat-list>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Worked in Front End Web Development using Ember.</div>
					</mat-list-item>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Involved in creating an e-learning platform and the associated content creation tool.</div>
					</mat-list-item>
				</mat-list>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-button class="margin-0-8-px">
        <mat-icon aria-hidden="false" aria-label="Date range icon" color="primary">
          date_range
        </mat-icon>
        01/2017 - 03/2017
      </button>
			<button mat-button>
        <mat-icon aria-hidden="false" aria-label="Location icon" color="primary">
          location_on
        </mat-icon>
        Patna
      </button>
		</mat-card-actions>
	</mat-card>
  <mat-card class="margin-16-px width-400-px">
		<mat-card-header>
      <div mat-card-avatar class="syon-logo"></div>
			<mat-card-title>Syon Research Labs</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			
				<mat-list>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Worked in Front End Web Development using Ember.</div>
					</mat-list-item>
					<mat-list-item class="height-auto padding-4-px-0">
						<mat-icon mat-list-icon color="primary">chevron_right</mat-icon>
						<div>Involved in creating website for a personal finance management app.</div>
					</mat-list-item>
				</mat-list>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-button class="margin-0-8-px">
        <mat-icon aria-hidden="false" aria-label="Date range icon" color="primary">
          date_range
        </mat-icon>
        05/2016 - 12/2016
      </button>
			<button mat-button>
        <mat-icon aria-hidden="false" aria-label="Location icon" color="primary">
          location_on
        </mat-icon>
        Patna
      </button>
		</mat-card-actions>
	</mat-card>
</div>